body{
    font-family: "Lato", Helvetica, sans-serif;
    padding-top: 4rem;
}

/* SITE */

.navbar-custom{
    background-color: #fff;
    box-shadow: 0 5px 12px rgba(0, 0, 0, .3);
}

.form-control-custom{
    border: 0;
    border-radius: 10px;
    transition: border .5s ease;
}

.form-control-custom-secondary{
    border: 1px solid #919191;
    border-radius: 10px;
    transition: border .5s ease;
}

.form-control-custom:focus{
    border: 1px solid #fab432;
}

.form-control-custom-secondary:focus{
    border: 1px solid #fab432;
}

.resize-none{
    resize: none;
}

.btn-custom{
    background-color: #fab432;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    transition: all .5s ease-in;
    min-width: auto;
    box-sizing: border-box;
}

.btn-custom-secondary{
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    transition: all .5s ease-in;
    min-width: auto;
    box-sizing: border-box;
}

.btn-custom:hover{
    background-color: #d1d1d1;
    color: #fff;
}

.btn-custom-secondary:hover{
    background-color: #919191;
    color: #fff;
}

.navbar-toggler{
    border-right: 1px solid #d1d1d1;
    border-radius: 0;
    padding: auto;
}

.toggler-icon-color{
    color: #fab432;
}

.nav-img{
    height: 80%;
    width: 80%;
}

.navbar-custom .nav-link{
    text-align: center;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all .5s ease;
    color: #000;
    font-weight: 700;
}

.navbar-custom .nav-btn{
    width: 100%;
}

#navbarMenu .navbar-nav li.active > a {
    color: #fab432;
    font-weight: 700;
}

.navbar-custom .nav-link:hover{
    color: #fab432;
}

@media screen and (min-width: 992px){

    .navbar-custom .nav-link{
        font-weight: 400;
    }

    .navbar-custom .nav-link:hover{
        color: #fab432;
        font-weight: 700;
    }

    .navbar-custom .nav-btn{
        width: auto;
    }
}

.dropdown-menu {
    width: 100%;
    border-radius: 0px;
    border-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, .3);
}

.dropdown-profile a{
    text-decoration: none;
    color: #000;
}

.dropdown-menu a:hover{
    background-color: #d1d1d1;
}

.dropdown-profile-avatar{
    width: 50px;
    height: 50px;
}

.dropdown-profile-text{
    display: none;
    padding: 0 5px;
    font-size: .8rem;
    font-weight: 700;
    padding-top: 5px;
}

.icon-dropdown{
    display: none;
}

.dropdown-profile .icon-logout{
    height: auto;
    width: auto;
}

@media screen and (min-width:992px){
    .dropdown-profile-text{
        display: flex;
    }
    .icon-dropdown{
        display: flex;
        height: 10px;
        width: 10px;
    }

    .dropdown-profile{
        margin-left: 10px;
        padding: 0 5px;
        border-left: 1px solid #d1d1d1;
        border-right: 1px solid #d1d1d1;
    }
}

.hero-jumbotron{
    background-image: url(../imgs/jumbo/overlay_01.png), url(../imgs/jumbo/caminhao_01.jpg);
    background-position: right, center right;
    background-size: cover;
    height: 400px;
}

.hero-title{
    color: #fff;
    font-size: 1.75rem;
    margin-top: 120px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .6);
}

.hero-text{
    color: #fff;
    font-size: .7rem;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .6);
}

@media screen and (min-width: 768px){
    .hero-jumbotron{
        background-position: right, bottom right;
    }

    .hero-title{
        font-size: 3rem;
        margin-top: 100px;
    }

    .hero-text{
        font-size: 1rem;
    }
}

@media screen and (min-width: 992px){
    .hero-jumbotron{
        background-position: right, bottom top;
    } 
}

.content-home .card{
    border: 0;
    border-radius: 0;
    height: 200px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.content-home .card-cliente{
    background-color: #000;
}

.content-home .card-rastreamento{
    background-color: #fab432;
}

.content-home .content-card-text{
    color: #fff;
}

.content-home .card-cliente .content-card-title{
    color: #fff;
    font-weight: 700;
}

.content-home .card-rastreamento .content-card-title{
    font-weight: 700;
}

.content-home-input{
    border: 0;
    border-radius: 0;
    background-color: #f0f0f0;
    display: block;
    padding: 10px 15px;
    margin: 10px auto;
    font-size: 0.8rem;
    width: 75%;
}

.content-home-input:focus{
   outline: none;
}

.content-home .card-body .btn{
    padding-left: 40px;
    padding-right: 40px;
}

.servicos-jumbotron{
    background-image: url(../imgs/servicos/servicos_sm_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
}

.servicos-home .servicos-home-title{
    margin-top: 4rem;
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    margin-bottom: .2rem;
}

.servicos-home .servicos-home-text{
    color: #fff;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    font-size: .6rem;
    margin-bottom: .2rem;
}

.servicos-jumbotron .servicos-home-btn{
    width: auto;
    font-size: .6rem;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 768px){
    .servicos-jumbotron{
        background-image: url(../imgs/servicos/servicos_md_01.png);
        height: 456px;
    }

    .servicos-home .servicos-home-title{
        margin-top: 9rem;
        font-size: 2.2rem;
    }

    .servicos-home .servicos-home-text{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .servicos-jumbotron .servicos-home-btn{
        font-size: 1rem;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 992px){
    .servicos-jumbotron{
        background-image: url(../imgs/servicos/servicos_lg_01.png);
        background-position: 30%;
    }

    .servicos-home .servicos-home-title{
        margin-left: 44%;
    }

    .servicos-home .servicos-home-text{
        margin-left: 44%;
    }

    .servicos-jumbotron .servicos-home-btn{
        margin-left: 44%;
    }
}

@media screen and (min-width: 992px){
    .servicos-jumbotron .servicos-home-btn{
        margin-right: 10%;
     }
}

.time-home .time-home-title{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.time-home .card-bottom{
    position: relative;
}

.time-home .card .time-home-card-cargo{
    height: 100px;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
}

.time-home .time-home-card .time-home-card-cargo{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.time-home .time-home-card:hover .time-home-card-cargo{
    opacity: 1;
}
.time-home .card-img{
    border-radius: 0;
}

.time-home .time-home-card{
    border: 0;
    border-radius: 0;
}

.time-home .time-home-cargo{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 1.25rem;
    color: #fab432;
    font-weight: 700;
}

.time-home .time-home-email{
    font-size: 1rem;
}

.time-home .time-home-email a{
    color: #fff;
}

@media screen and (min-width: 768px){
    .time-home .card .time-home-card-cargo{
        height: 60px;
    }

    .time-home .time-home-cargo{
        font-size: .75rem;
    }

    .time-home .time-home-email{
        font-size: .75rem;
    }
}

@media screen and (min-width: 992px){
    .time-home .card .time-home-card-cargo{
        height: 100px;
    }

    .time-home .time-home-cargo{
        font-size: 1.25rem;
    }

    .time-home .time-home-email{
        font-size: 1rem;
    }
}

.contato-home{
    background-color: #e1e1e1;
}

.contato-home-title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.contato-home-label{
    font-size: .9rem;

}

.clientes-home{
    height: 100%;
    background-image: url(../imgs/clientes/fundo_clientes.jpg);
    background-repeat: repeat;
    background-size: 100%;
    background-position: cover;
}

.clientes-home-title{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding-top: 50px;
}

.carousel-control-next,
.carousel-control-prev{
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #fab432;
    opacity: 1;
    border-radius: 50px;
}

.clientes-home-img-lg{
    width: 100%;
}

@media screen and (max-width: 576px){
    #clientesHomeCarouselMD{
        display: none;
    }

    .clientes-home-img-lg{
        display: none;
    }
}

@media screen and (min-width: 576px){
    #clientesHomeCarouselMD{
        display: none;
    }

    .clientes-home-img-lg{
        display: none;
    }
}

@media screen and (min-width: 768px){
    #clientesHomeCarouselMD{
        display: block;
    }

    #clientesHomeCarouselSM{
        display: none;
    }
}

@media screen and (min-width: 992px){
    #clientesHomeCarouselMD{
        display: none;
    }

    #clientesHomeCarouselSM{
        display: none;
    }

    .clientes-home-img-lg{
        display: block;
    }
}

.footer{
    background-color: #000;
    color: #fff;
    padding: 2rem;
}

.footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-link{
    padding-left: 1rem;
}

.footer-link-luz{
    color: #fff;
}

.footer-link-luz:hover{
    color: #fff;
}

.footer-copy{
    margin-top: 8px;
    font-size: .7rem;
}

.footer-img{
    width: auto;
    height: auto;
}

.cliente-content{
    background-color: #e1e1e1;
    padding: 25px 0;
}

.cliente-content .cliente-content-title{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.cliente-content-container{
    background-color: #fff;
    min-height: 400px;
}

.cliente-content-consultar{
    background-color: #fab432;
    height: 75px;
}

.cliente-content-label{
   color: #fff;
   font-size: .6rem;
}

.cliente-content-select{
    max-width: 85px;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    background-color: #e1e1e1;
}

.cliente-content-table{
    font-size: 0.7rem;
}

.cliente-content-table .cliente-content-link{
    border: 1px solid #fab432;
    padding: 2px 5px;
    color: #fab432;
    text-decoration: none;
    margin: 5px 0;
    display: block;
}

@media screen and (min-width: 768px){
    .cliente-content{
        min-height: 85vh;
    }

    .cliente-content-label{
        font-size: 1.2rem;
     }

     .cliente-content-table{
        font-size: 1.2rem;
    }

    .cliente-content-table .cliente-content-link{
        display: inline-block;
    }
}

.modal-login{
    background-color: #000;
}

.modal-login-title{
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.modal-login-text{
    color: #fff;
    text-align: center;
    font-size: .7rem;
}

.modal-login-label{
    color: #fff;
    font-size: 1rem;
}

.modal-login-input{
    border: 0;
    border-radius: 0;
    padding: 5px 10px;
}

.modal-login-input:focus{
    border: 1px solid #fab432;
    border-radius: 0;
}

.modal-login .close{
    opacity: 1;
    text-shadow: none;
}

.modal-login-close{
    color: #fab432;
}

.modal-login .modal-header{
    border-bottom: 0;
}

.modal-login .modal-footer{
    border-top: 0;
}

.rastrear-jumbotron{
    background-image: url(../imgs/rastreamento/hero_rastrear_sm.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 220px;
}

.hero-rastrear .hero-rastrear-title{
    margin-top: 3.5rem;
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    padding-left: 2rem;
}

.hero-rastrear .hero-rastrear-text{
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    padding-left: 2rem;
}

@media screen and (min-width:768px){
    .rastrear-jumbotron{
        background-image: url(../imgs/rastreamento/hero_rastrear_md.png);
        background-position: left, bottom;
        height: 600px;
    }

    .hero-rastrear .hero-rastrear-title{
        margin-top: 12rem;
        font-size: 2.5rem;
    }
    
    .hero-rastrear .hero-rastrear-text{
        font-size: 2.5rem;
    }
}

@media screen and (min-width:992px){
    .rastrear-jumbotron{
        background-image: url(../imgs/rastreamento/hero_rastrear_lg.png);
        height: 320px;
    }

    .hero-rastrear .hero-rastrear-title{
        margin-top: 3rem;
        font-size: 2.5rem;
    }
    
    .hero-rastrear .hero-rastrear-text{
        font-size: 2.5rem;
    }
}

.rastrear-form{
    min-height: 35vh;
}

.rastrear-form .rastrear-form-color{
    background-color: #d1d1d1;
    height: 80px;
}

.rastrear-form .rastrear-form-input{
    border:0;
    border-radius: 0;
    text-transform: uppercase;
    height: 50px;
    width: 100%;
    padding-left: 10px;
}

.rastrear-form .rastrear-form-input:focus{
    border: 1px solid #fab432;  
}

.rastrear-form .rastrear-form-color-link{
    background-color: #fab432;
}

.rastrear-form .rastrear-form-link{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rastrear-form .rastrear-form-title{
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (min-width: 768px){
    .rastrear-form .rastrear-form-color{
        height: 100px;
    }

    .rastrear-form .rastrear-form-input{
        height: 50px;
    }

    .rastrear-form .rastrear-form-link{
        font-size: 1.2rem;
    }

    .rastrear-form .rastrear-form-title{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 992px){
    .rastrear-form .rastrear-form-color{
        height: 50px;
        margin-left: auto;
    }

    .rastrear-form .rastrear-form-color-link{
        margin-right: auto;
    }

    .rastrear-form .rastrear-form-input{
        height: 30px;
    }

    .rastrear-form .rastrear-form-link{
        font-size: 1.2rem;
    }

    .rastrear-form .rastrear-form-title{
        font-size: 1.5rem;
        text-align: center;
        
    }
}

.section-status .section-status-title{
    font-size: 1.2rem;
    font-weight: 700;
}

.section-status .section-status-text{
    margin-top: 0;
    margin-bottom: 0;
    font-size: .7rem;
}

@media screen and (min-width: 992px){
    .section-status .section-status-text{
        text-align: right;
    }
}

.section-status .section-status-descricao{
    background-color: #fab432;
}

.section-status .section-status-descricao-text{
    margin-top: 0;
    margin-bottom: 0;
    font-size: .8rem;
    color: #fff;
}

.section-status .section-status-status{
    background-color: #f7f7f7;
    height: 150px;
}

@media screen and (min-width: 768px){
    .section-status .section-status-descricao{
        height: 125px;
    }

    .section-status .section-status-status{
        height: 150px;
    }
}

@media screen and (min-width: 992px){
    .section-status .section-status-descricao{
        height: 150px;
    }

    .section-status .section-status-status{
        height: 150px;
    }
}

.section-status .section-status-img{
    height: 50px;
    width: 50px;
    display: inline-block;
}

.section-status .section-status-line{
    width: 100px;
    border: 2px solid #e1e1e1;
    margin-left: -4px;
    margin-right: -20px;
    display: inline-block;
}

.section-status .section-status-line-checked{
    width: 100px;
    border: 2px solid #fab432;
    margin-left: -4px;
    margin-right: -20px;
    display: inline-block;
}

.section-status .section-status-text-check{
    font-size: .9rem;
    color: #e1e1e1;
    margin: 0;
}

.section-status .section-status-text-checked{
    word-wrap: normal;
    font-size: .9rem;
    color: #000;
}

@media screen and (min-width: 768px){
    .section-status .section-status-line{
        width: 250px;
    }

    .section-status .section-status-line-checked{
        width: 250px;
    }

    .section-status .section-status-text-check{
        padding: 0 auto;
    }

    .section-status .section-status-text-checked{
        padding: 0 auto;
    }
}

.section-status .table-status-thead-tr{
    background-color: #000;
}

.section-status .table-status-thead-title{
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}

.section-hero-contato .hero-jumbotron-contato{
    background-image: url(../imgs/contato/banner_contato_sm_01.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 170px;
}

.section-hero-contato .hero-contato-title{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
    margin-left: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.section-hero-contato .hero-contato-text{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
    margin-left: 15px;
    margin-top: -10px;
    padding-top: 0;
}

@media screen and (min-width: 768px){
    .section-hero-contato .hero-jumbotron-contato{
        background-image: url(../imgs/contato/banner_contato_md_01.png);
        background-position: center bottom;
        height: 500px;
    }

    .section-hero-contato .hero-contato-title{
        font-size: 2rem;
        margin-left: 25px;
    }
    
    .section-hero-contato .hero-contato-text{
        font-size: 2rem;
        margin-left: 25px;
        margin-top: -10px;
    }
}

@media screen and (min-width: 992px){
    .section-hero-contato .hero-jumbotron-contato{
        background-image: url(../imgs/contato/banner_contato_lg_01.png);
        background-position: center bottom;
        height: 300px;
    }

    .section-hero-contato .hero-contato-title{
        font-size: 2rem;
        margin-left: 25px;
        margin-top: 70px;
    }
    
    .section-hero-contato .hero-contato-text{
        font-size: 2rem;
        margin-left: 25px;
        margin-top: -10px;
    }
}

.form-contato .form-contato-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.form-contato .form-contato-text{
    font-size: .8rem;
}

.form-contato .form-contato-label{
    padding-top: 5px;
    margin-bottom: 0;
    font-size: .8rem;
    font-weight: 700;
}

.box-contato{
    background-color: #f7f7f7;
    padding: 30px 10px;
}

.box-contato .box-contato-title{
    font-size: 1.2rem;
    font-weight: 700;
}

.box-contato .box-contato-text{
    font-size: .9rem;
    text-align: justify;
}

.box-contato .box-contato-img{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

.box-contato .box-contato-name{
    font-size: 1rem;
    font-weight: 700;
    margin: 2px 0;
}

.box-contato .box-contato-cargo{
    font-size: .8rem;
    font-weight: 700;
    margin: 2px 0;
}

.box-contato .box-contato-telefone{
    font-size: .9rem;
    font-weight: 700;
    margin: 2px 0;
}

.section-hero-servicos .hero-jumbotron-servicos{
    background-image: url(../imgs/servicos/banner_nossos_servicos_sm_01.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 170px;
}

.section-hero-servicos .hero-servicos-title{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
    margin-left: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.section-hero-servicos .hero-servicos-text{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
    margin-left: 15px;
    margin-top: -10px;
    padding-top: 0;
}

@media screen and (min-width: 768px){
    .section-hero-servicos .hero-jumbotron-servicos{
        background-image: url(../imgs/servicos/banner_nossos_servicos_md_01.png);
        background-position: center top;
        height: 500px;
    }

    .section-hero-servicos .hero-servicos-title{
        font-size: 2rem;
        margin-left: 25px;
        margin-top: 150px;
    }
    
    .section-hero-servicos .hero-servicos-text{
        font-size: 2rem;
        margin-left: 25px;
        margin-top: -10px;
    }
}

@media screen and (min-width: 992px){
    .section-hero-servicos .hero-jumbotron-servicos{
        background-image: url(../imgs/servicos/banner_nossos_servicos_lg_01.png);
        background-position: center;
        height: 300px;
    }

    .section-hero-servicos .hero-servicos-title{
        font-size: 2rem;
        margin-left: 25px;
        margin-top: 70px;
    }
    
    .section-hero-servicos .hero-servicos-text{
        font-size: 2rem;
        margin-left: 25px;
        margin-top: -10px;
    }
}

.section-conheca-servicos .conheca-servicos-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.section-conheca-servicos .conheca-servicos-title-2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: -10px;
}

.section-conheca-servicos .conheca-servicos-borda{
    border-left: 1px solid #fab432;
    margin-left: 20px;
}

.section-conheca-servicos .conheca-servicos-text{
    font-size: .9rem;
    padding-left: 15px;
}

@media screen and (min-width: 768px){
    .section-conheca-servicos .conheca-servicos-borda{
        margin-left: -30px;
    }
}

@media screen and (min-width: 992px){
    .section-conheca-servicos .conheca-servicos-borda{
        margin-left: -150px;
    }
}

.section-servicos-servicos .hr-line{
    border: 5px solid #fab432;
}

.section-servicos-servicos .servicos-servicos-title{
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 700;
}

.section-servicos-servicos .card{
    border: 0px;
    border-radius: 0px;
    background-color: #f7f7f7;
}

.section-servicos-servicos .card .card-header-seta-direta{
    padding-left: 195px;
    color: #fab432;
}

.section-servicos-servicos .card .card-header-seta-fracionada{
    padding-left: 172px;
    color: #fab432;
}
.section-servicos-servicos .card .card-header-seta-compartilhada{
    padding-left: 150px;
    color: #fab432;
}

@media screen and (min-width: 768px){
    .section-servicos-servicos .card .card-header-seta-direta{
        padding-left: 182px;
    }
    
    .section-servicos-servicos .card .card-header-seta-fracionada{
        padding-left: 157px;
    }
    .section-servicos-servicos .card .card-header-seta-compartilhada{
        padding-left: 135px;
    }
}

@media screen and (min-width: 1200px){
    .section-servicos-servicos .card .card-header-seta-direta{
        padding-left: 392px;
    }
    
    .section-servicos-servicos .card .card-header-seta-fracionada{
        padding-left: 368px;
    }
    .section-servicos-servicos .card .card-header-seta-compartilhada{
        padding-left: 346px;
    }
}

.section-servicos-servicos .card-body{
    border: 0px;
    border-radius: 0px;
    background-color: #f0f0f0;
}

.section-servicos-servicos .btn-link{
    font-size: .8rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.section-servicos-servicos .servicos-servicos-card-text{
    font-size: .8rem;
}

.section-servicos-servicos .servicos-servicos-img{
   background-image: url(../imgs/servicos/truck_servicos_01.png);
   background-size: 100%;
   background-repeat: no-repeat;
   height: 200px;
}

@media screen and (min-width: 992px){
    .section-servicos-servicos .servicos-servicos-img{
        height: 350px;
     }
}

.enviar-servicos .enviar-servicos-title{
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.enviar-servicos-card{
    border: 0;
    border-radius: 0;
    transition: background-color .5s ease;
}

.enviar-servicos-card:hover .enviar-servicos-card-body{
    background-color: #fab432;
}

.enviar-servicos-card .enviar-servicos-card-img{
    border-radius: 0;
    height: 13rem;
}

.enviar-servicos-card .enviar-servicos-card-body{
    min-height: 200px;
    background-color: #f7f7f7;
}

.enviar-servicos-card .enviar-servicos-card-title{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.enviar-servicos-card .enviar-servicos-card-text{
    font-size: .9rem;
    font-weight: 700;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

@media screen and (min-width: 768px){
    .enviar-servicos-card .enviar-servicos-card-body{
        border-left: 1px solid #fab432;
    }

    .enviar-servicos-card .enviar-servicos-border{
        border: 0;
    }
}

.section-seguranca{
    background-color: #d1d1d1;
    min-height: 200px;
}

.seguranca-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

.seguranca-title-2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
}

.seguranca-text{
    font-size: .9rem;
    font-weight: 700;
}

/* PAINEL ADMINISTRATIVO */

.navbar-painel{
    background-color: #fab432;
}

.navbar-painel .nav-link{
    text-align: center;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    transition: all .5s ease;
    color: #fff;
    font-weight: normal;
}

#navbarPainel .navbar-nav li.active > a {
    color: #fff;
    font-weight: 700;
}

.content-painel{
    max-width: 700px;
    margin: 0 auto;
}

.content-painel .content-painel-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 30px;
}

.content-painel .content-painel-text{
    font-size: .8rem;
}

.form-painel .form-painel-label{
    padding-top: 5px;
    margin-bottom: 0;
    font-size: .8rem;
    font-weight: 700;
}

.radio{
    padding-right: 20px;
    font-size: .9rem;
}

.attFaturas-link{
    border: 1px solid #fab432;
    padding: 1px 5px;
    color: #fab432;
}

.attFaturas-link:hover{
    border: 1px solid #fab432;
    padding: 1px 5px;
    color: #fab432;
}

.upload-doc{
    border: 1px solid #000;
    padding: 25px;
    border-radius: 10px;
}

.form-painel .form-painel-link{
  font-size: .8rem;
  color: #fab432;
}

.form-painel .form-painel-link:hover{
    color: #fab432;
  }

.section-hero-cotacao .hero-jumbotron-cotacao{
    background-image: url(../imgs/cotacao/banner_cotacao_sm.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 170px;
}

.section-hero-cotacao .hero-cotacao-title{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}

@media screen and (min-width: 768px){
    .section-hero-cotacao .hero-jumbotron-cotacao{
        background-image: url(../imgs/cotacao/banner_cotacao_md.png);
        background-position: center top;
        height: 500px;
    }

    .section-hero-cotacao .hero-cotacao-title{
        font-size: 3rem;
        margin-top: 140px;
        margin-left: 25px;
    }
}

@media screen and (min-width: 992px){
    .section-hero-cotacao .hero-jumbotron-cotacao{
        background-image: url(../imgs/cotacao/banner_cotacao_lg.png);
        background-position: center bottom;
        height: 300px;
    }

    .section-hero-cotacao .hero-cotacao-title{
        font-size: 2rem;
        margin-left: 25px;
        margin-top: 70px;
    }
}

.content-cotacao{
    max-width: 700px;
    margin: 0 auto;
}

.content-cotacao .content-cotacao-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 30px;
}

.content-cotacao .content-cotacao-text{
    font-size: .8rem;
}

.form-cotacao .form-cotacao-label{
    padding-top: 5px;
    margin-bottom: 0;
    font-size: .8rem;
    font-weight: 700;
}