body{
    font-family: "Lato", Helvetica, sans-serif;
    padding-top: 4rem;
}

.navbar-custom{
    background-color: #fff;
    box-shadow: 0 5px 12px rgba(0, 0, 0, .3);
}

.form-control-custom{
    border: 0;
    border-radius: 10px;
    transition: border .5s ease;
}

.form-control-custom:focus{
    border: 1px solid #fab432;
}

.resize-none{
    resize: none;
}

.btn-custom{
    background-color: #fab432;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    transition: all .5s ease-in;
    min-width: auto;
    box-sizing: border-box;
}

.btn-custom-secondary{
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    transition: all .5s ease-in;
    min-width: auto;
    box-sizing: border-box;
}

.btn-custom:hover{
    background-color: #d1d1d1;
    color: #fff;
}

.btn-custom-secondary:hover{
    background-color: #919191;
    color: #fff;
}

.navbar-toggler{
    border-right: 1px solid #d1d1d1;
    border-radius: 0;
    padding: auto;
}

.toggler-icon-color{
    color: #fab432;
}

.nav-img{
    height: 80%;
    width: 80%;
}

.navbar-custom .nav-link{
    text-align: center;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all .5s ease;
    color: #000;
    font-weight: 700;
}

.navbar-custom .nav-btn{
    width: 100%;
}
.navbar-custom .nav-link:hover{
    color: #fab432;
}

@media screen and (min-width: 992px){

    .navbar-custom .nav-link{
        font-weight: 400;
    }

    .navbar-custom .nav-link:hover{
        color: #fab432;
        font-weight: 700;
    }

    .navbar-custom .nav-btn{
        width: auto;
    }
}

.dropdown-menu {
    width: 100%;
    border-radius: 0px;
    border-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, .3);
}

.dropdown-profile a{
    text-decoration: none;
    color: #000;
}

.dropdown-menu a:hover{
    background-color: #d1d1d1;
}

.dropdown-profile-avatar{
    width: 50px;
    height: 50px;
}

.dropdown-profile-text{
    display: none;
    padding: 0 5px;
    font-size: .8rem;
    font-weight: 700;
    padding-top: 5px;
}

.icon-dropdown{
    display: none;
}

.dropdown-profile .icon-logout{
    height: auto;
    width: auto;
}

@media screen and (min-width:992px){
    .dropdown-profile-text{
        display: flex;
    }
    .icon-dropdown{
        display: flex;
        height: 10px;
        width: 10px;
    }

    .dropdown-profile{
        margin-left: 10px;
        padding: 0 5px;
        border-left: 1px solid #d1d1d1;
        border-right: 1px solid #d1d1d1;
    }
}

.hero-jumbotron{
    background-image: url(../imgs/jumbo/overlay_01.png), url(../imgs/jumbo/caminhao_01.jpg);
    background-position: right, center right;
    background-size: cover;
    height: 400px;
}

.hero-title{
    color: #fff;
    font-size: 1.75rem;
    margin-top: 120px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .6);
}

.hero-text{
    color: #fff;
    font-size: .7rem;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .6);
}

@media screen and (min-width: 768px){
    .hero-jumbotron{
        background-position: right, bottom right;
    }

    .hero-title{
        font-size: 3rem;
        margin-top: 100px;
    }

    .hero-text{
        font-size: 1rem;
    }
}

@media screen and (min-width: 992px){
    .hero-jumbotron{
        background-position: right, bottom top;
    } 
}

.content-home .card{
    border: 0;
    border-radius: 0;
    height: 200px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.content-home .card-cliente{
    background-color: #000;
}

.content-home .card-rastreamento{
    background-color: #fab432;
}

.content-home .content-card-text{
    color: #fff;
}

.content-home .card-cliente .content-card-title{
    color: #fff;
    font-weight: 700;
}

.content-home .card-rastreamento .content-card-title{
    font-weight: 700;
}

.content-home-input{
    border: 0;
    border-radius: 0;
    background-color: #f0f0f0;
    display: block;
    padding: 10px 15px;
    margin: 10px auto;
    font-size: 0.8rem;
    width: 75%;
}

.content-home-input:focus{
   outline: none;
}

.content-home .card-body .btn{
    padding-left: 40px;
    padding-right: 40px;
}

.servicos-jumbotron{
    background-image: url(../imgs/servicos/servicos_sm_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
}

.servicos-home .servicos-home-title{
    margin-top: 4rem;
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    margin-bottom: .2rem;
}

.servicos-home .servicos-home-text{
    color: #fff;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    font-size: .6rem;
    margin-bottom: .2rem;
}

.servicos-jumbotron .servicos-home-btn{
    width: auto;
    font-size: .6rem;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 768px){
    .servicos-jumbotron{
        background-image: url(../imgs/servicos/servicos_md_01.png);
        height: 456px;
    }

    .servicos-home .servicos-home-title{
        margin-top: 9rem;
        font-size: 2.2rem;
    }

    .servicos-home .servicos-home-text{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .servicos-jumbotron .servicos-home-btn{
        font-size: 1rem;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 992px){
    .servicos-jumbotron{
        background-image: url(../imgs/servicos/servicos_lg_01.png);
        background-position: 30%;
    }

    .servicos-home .servicos-home-title{
        margin-left: 44%;
    }

    .servicos-home .servicos-home-text{
        margin-left: 44%;
    }

    .servicos-jumbotron .servicos-home-btn{
        margin-left: 44%;
    }
}

@media screen and (min-width: 992px){
    .servicos-jumbotron .servicos-home-btn{
        margin-right: 10%;
     }
}

.time-home .time-home-title{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.time-home .card-bottom{
    position: relative;
}

.time-home .card .time-home-card-cargo{
    height: 100px;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
}

.time-home .time-home-card .time-home-card-cargo{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.time-home .time-home-card:hover .time-home-card-cargo{
    opacity: 1;
}
.time-home .card-img{
    border-radius: 0;
}

.time-home .time-home-card{
    border: 0;
    border-radius: 0;
}

.time-home .time-home-cargo{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 1.25rem;
    color: #fab432;
    font-weight: 700;
}

.time-home .time-home-email{
    font-size: 1rem;
}

.time-home .time-home-email a{
    color: #fff;
}

@media screen and (min-width: 768px){
    .time-home .card .time-home-card-cargo{
        height: 60px;
    }

    .time-home .time-home-cargo{
        font-size: .75rem;
    }

    .time-home .time-home-email{
        font-size: .75rem;
    }
}

@media screen and (min-width: 992px){
    .time-home .card .time-home-card-cargo{
        height: 100px;
    }

    .time-home .time-home-cargo{
        font-size: 1.25rem;
    }

    .time-home .time-home-email{
        font-size: 1rem;
    }
}

.contato-home{
    background-color: #e1e1e1;
}

.contato-home-title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.contato-home-label{
    font-size: .9rem;

}

.clientes-home{
    height: 100%;
    background-image: url(../imgs/clientes/fundo_clientes.jpg);
    background-repeat: repeat;
    background-size: 100%;
    background-position: cover;
}

.clientes-home-title{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding-top: 50px;
}

.carousel-control-next,
.carousel-control-prev{
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #fab432;
    opacity: 1;
    border-radius: 50px;
}

.clientes-home-img-lg{
    width: 100%;
}

@media screen and (max-width: 576px){
    #clientesHomeCarouselMD{
        display: none;
    }

    .clientes-home-img-lg{
        display: none;
    }
}

@media screen and (min-width: 576px){
    #clientesHomeCarouselMD{
        display: none;
    }

    .clientes-home-img-lg{
        display: none;
    }
}

@media screen and (min-width: 768px){
    #clientesHomeCarouselMD{
        display: block;
    }

    #clientesHomeCarouselSM{
        display: none;
    }
}

@media screen and (min-width: 992px){
    #clientesHomeCarouselMD{
        display: none;
    }

    #clientesHomeCarouselSM{
        display: none;
    }

    .clientes-home-img-lg{
        display: block;
    }
}

.footer{
    background-color: #000;
    color: #fff;
    padding: 2rem;
}

.footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-link{
    padding-left: 1rem;
}

.footer-copy{
    margin-top: 8px;
    font-size: .7rem;
}

.footer-img{
    width: auto;
    height: auto;
}

.cliente-content{
    background-color: #e1e1e1;
    padding: 25px 0;
}

.cliente-content .cliente-content-title{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.cliente-content-container{
    background-color: #fff;
    min-height: 400px;
}

.cliente-content-consultar{
    background-color: #fab432;
    height: 75px;
}

.cliente-content-label{
   color: #fff;
   font-size: .6rem;
}

.cliente-content-select{
    max-width: 85px;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    background-color: #e1e1e1;
}

.cliente-content-table{
    font-size: 0.7rem;
}

.cliente-content-table .cliente-content-link{
    border: 1px solid #fab432;
    padding: 2px 5px;
    color: #fab432;
    text-decoration: none;
    margin: 5px 0;
    display: block;
}

@media screen and (min-width: 768px){
    .cliente-content{
        min-height: 85vh;
    }

    .cliente-content-label{
        font-size: 1.2rem;
     }

     .cliente-content-table{
        font-size: 1.2rem;
    }

    .cliente-content-table .cliente-content-link{
        display: inline-block;
    }
}

.modal-login{
    background-color: #000;
}

.modal-login-title{
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.modal-login-text{
    color: #fff;
    text-align: center;
    font-size: .7rem;
}

.modal-login-label{
    color: #fff;
    font-size: 1rem;
}

.modal-login-input{
    border: 0;
    border-radius: 0;
    padding: 5px 10px;
}

.modal-login-input:focus{
    border: 1px solid #fab432;
    border-radius: 0;
}

.modal-login .close{
    opacity: 1;
    text-shadow: none;
}

.modal-login-close{
    color: #fab432;
}

.modal-login .modal-header{
    border-bottom: 0;
}

.modal-login .modal-footer{
    border-top: 0;
}

.rastrear-jumbotron{
    background-image: url(../imgs/rastreamento/hero_rastrear_sm.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 220px;
}

.hero-rastrear .hero-rastrear-title{
    margin-top: 3.5rem;
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    padding-left: 2rem;
}

.hero-rastrear .hero-rastrear-text{
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    padding-left: 2rem;
}

@media screen and (min-width:768px){
    .rastrear-jumbotron{
        background-image: url(../imgs/rastreamento/hero_rastrear_md.png);
        background-position: left, bottom;
        height: 600px;
    }

    .hero-rastrear .hero-rastrear-title{
        margin-top: 12rem;
        font-size: 2.5rem;
    }
    
    .hero-rastrear .hero-rastrear-text{
        font-size: 2.5rem;
    }
}

@media screen and (min-width:992px){
    .rastrear-jumbotron{
        background-image: url(../imgs/rastreamento/hero_rastrear_lg.png);
        height: 320px;
    }

    .hero-rastrear .hero-rastrear-title{
        margin-top: 3rem;
        font-size: 2.5rem;
    }
    
    .hero-rastrear .hero-rastrear-text{
        font-size: 2.5rem;
    }
}

.rastrear-form{
    min-height: 35vh;
}

.rastrear-form .rastrear-form-color{
    background-color: #d1d1d1;
    height: 80px;
}

.rastrear-form .rastrear-form-input{
    border:0;
    border-radius: 0;
    text-transform: uppercase;
    height: 50px;
    width: 100%;
    padding-left: 10px;
}

.rastrear-form .rastrear-form-input:focus{
    border: 1px solid #fab432;  
}

.rastrear-form .rastrear-form-color-link{
    background-color: #fab432;
}

.rastrear-form .rastrear-form-link{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rastrear-form .rastrear-form-title{
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (min-width: 768px){
    .rastrear-form .rastrear-form-color{
        height: 120px;
    }

    .rastrear-form .rastrear-form-link{
        font-size: 1.5rem;
    }

    .rastrear-form .rastrear-form-title{
        font-size: 1.5rem;
    }
}
